{% extends "base.html" %}

{% block content %}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			{% for post in (posts|selectattr("start_page", "equalto", True)|list)[:2] %}
			<!-- post -->
			<div class="col-md-6">
				<div class="post post-thumb">
					<a class="post-img" href="{{url_for('post', post_id=post.id)}}"><img src="{{url_for('static', filename=post.pic)}}" alt=""></a>
					<div class="post-body">
						<div class="post-meta">
							{% for categoria in categorias %}
								{% if categoria.id==post.categoria_id %}
								<a class="post-category {{categoria.css_class}}" href="{{url_for('categoria', categoria_id=categoria.id)}}">{{categoria.name}}</a>
								{% endif %}
							{% endfor %}
							<span class="post-date">{{post.publish_date.strftime('%d/%m/%Y')}}</span>
						</div>
						<h3 class="post-title"><a href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h3>
					</div>
				</div>
			</div>
			<!-- /post -->
			{% endfor %}
		</div>
		<!-- /row -->

		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 id="recentes">Recentes</h2>
				</div>
			</div>

			<!-- post -->
			{% for post in (posts|sort(true, attribute='publish_date'))[:3] %}
			<div class="col-md-4">
				<div class="post">
					<a class="post-img" href="{{url_for('post', post_id=post.id)}}">
						<img src="{{url_for('static', filename=post.pic)}}" alt="">
					</a>
					<div class="post-body">
						<div class="post-meta">
							{% for categoria in categorias %}
							{% if categoria.id==post.categoria_id %}
								<a class="post-category {{categoria.css_class}}" href="{{url_for('categoria', categoria_id=categoria.id)}}">{{categoria.name}}</a>
							{% endif %}
							{% endfor %}
							<span class="post-date">{{post.publish_date.strftime('%d/%m/%Y')}}</span>
						</div>
						<h3 class="post-title"><a href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h3>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- /post -->

			<div class="clearfix visible-md visible-lg"></div>

			<!-- post -->
			{% for post in (posts|sort(true, attribute='publish_date'))[3:6] %}
			<div class="col-md-4">
				<div class="post">
					<a class="post-img" href="{{url_for('post', post_id=post.id)}}">
						<img src="{{url_for('static', filename=post.pic)}}" alt="">
					</a>
					<div class="post-body">
						<div class="post-meta">
							{% for categoria in categorias %}
							{% if categoria.id==post.categoria_id %}
								<a class="post-category {{categoria.css_class}}" href="{{url_for('categoria', categoria_id=categoria.id)}}">{{categoria.name}}</a>
							{% endif %}
							{% endfor %}
							<span class="post-date">{{post.publish_date.strftime('%d/%m/%Y')}}</span>
						</div>
						<h3 class="post-title"><a href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h3>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- /post -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section section-grey">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title text-center">
					<h2 id="destaques">Destaques</h2>
				</div>
			</div>

			{% for post in (posts|selectattr("featured", "equalto", True)|list)[:3] %}
			<!-- post -->
			<div class="col-md-4">
				<div class="post">
					<a class="post-img" href="{{url_for('post', post_id=post.id)}}"><img src="{{url_for('static', filename=post.pic)}}" alt=""></a>
					<div class="post-body">
						<div class="post-meta">
							{% for categoria in categorias %}
							{% if categoria.id==post.categoria_id %}
								<a class="post-category {{categoria.css_class}}" href="{{url_for('categoria', categoria_id=categoria.id)}}">{{categoria.name}}</a>
							{% endif %}
							{% endfor %}
							<span class="post-date">{{post.publish_date.strftime('%d/%m/%Y')}}</span>
						</div>
						<h3 class="post-title"><a href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h3>
					</div>
				</div>
			</div>
			<!-- /post -->
			{% endfor %}
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->
{% endblock %}
