{% extends "base.html" %}

{% block content %}
<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<form action="" method="POST">

        	<div class="form-group">
            	<label for="title">Título</label>
        		<input class="form-control" type="text" name="title" value="{{post.title}}">
        	</div>


            <div class="form-group">
        		<label for="body">Conteúdo</label>
        		<textarea class="form-control" name="body" rows="8">{{post.body}}</textarea>
        	</div>

            <div class="form-group">
            	<label for="abstract">Resumo</label>
        		<input class="form-control" type="text" name="abstract" value="{{post.abstract}}">
        	</div>

            <div class="form-group">
        		<span>Categoria</span>
        		<select class="form-control" name="categoria_id">
					<option disabled></option>
                    {% for categoria in categorias %}
                        {% if categoria.id==categoria_id %}
        					<option selected value="{{categoria.id}}">{{categoria.name}}</option>
                        {% else %}
        					<option value="{{categoria.id}}">{{categoria.name}}</option>
                        {% endif %}
                    {% endfor %}
				</select>
        	</div>
            <button type="submit" class="btn btn-secondary">Enviar</button> 
        </form>
    </div>
</div>
{% endblock %}