{% extends "base.html" %}

{% block content %}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Post content -->
			<div class="col-md-8">
				<div class="section-row sticky-container">
					<div class="main-post">
						<h3>{{post.title}}</h3>
						<figure class="figure-img">
							<img class="img-responsive" src="{{url_for('static', filename=post.pic)}}" alt="">
						</figure>
						{{post.body|safe}}
					</div>
				</div>
				
				<hr>

				<!-- author -->
				<div class="section-row">
					<div class="post-author">
						<div class="media">
							<div class="media-left">
								<img class="media-object" src="{{user.pic}}" alt="">
							</div>
							<div class="media-body">
								<div class="media-heading">
									<h3>{{user.username}}</h3>
								</div>
								<p>{{user.bio}}</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /author -->
			</div>
		</div>
	</div>
</div>

{% endblock %}